@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>
    OmnicomMediaGroupNepal<br />
    Level 1, Hotel Narayani Building<br />
    Pulchowk,Lalitpur<br />
    Phone : 5522837
</p>
