@model WFHMS.Models.ViewModel.CreateRoleViewModel


@{
    ViewData["Title"] = "Create New Role";
}


<h4>Create Role Here!</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" asp-controller="Administration" asp-action="CreateRole"  >
            <div asp-validation-summary="All" class="text-danger"></div>
            
          
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit"  class="btn btn-primary" >Create Role</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListRoles">Back to List</a>
</div>

